.transform_text {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputs {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.transform_text textarea,
input,
label {
  display: block;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  width: 60%;
}

.transform_text label {
  text-transform: uppercase;
}
